{% extends 'base.html.twig' %}

{% block Accueil %}Organigramme
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div
		class="example-wrapper">
		{# <h1>Hello {{ controller_name }}! ✅</h1>
								
								    This friendly message is coming from:
								    <ul>
								        <li>Your controller at <code><a href="{{ 'C:/laragon/www/tp-Symfony/Api-symfony/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
								        <li>Your template at <code><a href="{{ 'C:/laragon/www/tp-Symfony/Api-symfony/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
								    </ul> #}
		<h1>Organigramme de l'équipe</h1>
		<p>
			{% for user in message  %}
{% if user.supHierarchique == 'Paul Stone'%} 
					{{user.supHierarchique}}
					
						<p>Le supérieur est Paul Stone</p>
							 {{	 user.firstname }}
							&nbsp;
							{{ user.lastname}}
							&nbsp; 
					<br>
					 {% elseif user.supHierarchique =='Paul Martin' %} 
						{{user.supHierarchique}}
					
						<p>Le supérieur est Paul Martin</p>		<br>

						 {% else %} 
							 {{user.supHierarchique}} 
					
						<p>Le supérieur est Justine Dupont</p>		<br> 
				{% endif %}  

			{% endfor %}


		</p>

	</div>
{% endblock %}
