{% extends 'base.html.twig' %}

{% block Accueil %}Organigramme
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="example-wrapper">
		<h1>
			<a href="../team">
				<img width='50px' heigh='50px' src="../../img/home.png" alt="image d'adresse">
			</a>
			Organigramme de l'équipe
		</h1>
			<p>
			{% for userOrder in order %}
			{# boucle pour chaque utilisateur de la liste ordonné#}
				{% for user in users %}
				{# boucle pour chaque membre #}
					{% if userOrder == user.key %}
					{# si l'utilisateur ordonné = membre #}
					{% set flag = true %}
					{# mise a tree du flag  #}
						{% for place in hierarchie %}
						{# boucle pour chaquue position de hierarchie #}
							{% set i = loop.index %}
							{# initailisation du compteur	 #}
							{% if user.supHierarchique == place and flag == true %}
								{# si user.superiarchique = place et que flag = true (n'est pas encore passé dans la condition)  #}
								{% set flag = false %}
								{# mise a false du flag #}
								{% for j in 1.. i %}
								{# boucle de j de 1 à i #}
									&nbsp; &nbsp;
								{% endfor %}
								{# on affiche l'id du membre #}
								{{user.id}}
								{# on affiche  la photo du membre #}
								<img width='40px' heigh='40px' src="../img/{{ user.photo }}" alt="photo de {{user.firstname}} {{user.lastname}}">
								<a href="organigramme/user/{{user.numero}}">
								{# on affiche son prenom #}
								{{user.firstname}} 
								{# on affiche son nom #}
								{{user.lastname}}
								{# on affiche son label #}
								({{user.label}}) (NIVEAU DE LA HIERARCHIE H){{user.niveau}}--(POSITION DANS LA HIERARCHIE){{user.level}})</a>
								<br>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</p>
	</div>
{% endblock %}
