{% extends 'base.html.twig' %}

{% block Accueil %}Organigramme
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Organigramme de l'équipe</h1>
		<p>
			{% for userOrder in order %}
				{% for place in hierarchie %}
					{% set i = loop.index %}
					{% set flag = true %}
 					{{ place }}	<br>
					{% for user in users %}

						{% if userOrder == user.key %}
						
							{% if (user.supHierarchique == place) and (flag == true) %}
							{% set flag = false %}
								{% for j in 1.. i %}
									&nbsp; &nbsp;
								{% endfor %}
								{{user.id}}
								<img width='40px' heigh='40px' src="../img/{{ user.photo }}" alt="photo de {{user.firstname}} {{user.lastname}}">
								<a href="organigramme/user/{{user.numero}}">{{user.firstname}}
									{{user.lastname}}
									({{user.label}})</a>
								<br>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}

			{% endfor %}

		</p>

	</div>
{% endblock %}
